<div style="height:620px;margin-top: 40px;">
    <h4>Our Popular Policies</h4>
    <div class="card-deck">
        <div class="card" *ngFor="let popularPolicy of popularList let idx=index">
            <div class="card-header">
                {{popularPolicy.policyName}}
            </div>
            <div class="card-body">
                {{popularPolicy.description}}
                <p>{{info}}</p>


            </div>
            <div class='card-footer'>
                <button class="btn btn-danger" (click)="showInfo(idx)">Show Details</button>
            </div>

        </div>

    </div>

    <div>
        <app-testimony></app-testimony>
    </div>
    <h1 style="text-align: center ">What our Customers Say About us</h1>
    <div class='content'>
        <div *ngFor='let eachComment of comments' class="box ">
            <div [ngStyle]="{'background-color': bgColor} ">
                <p style="text-align: center ">{{eachComment.name |uppercase}}</p>
            </div>
            <div>{{eachComment.comment}}</div>
        </div>
    </div>
</div>

<app-grid [data]=agentList [headers]=heading></app-grid>