<div class='container'>
    <div class='row'>

        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/policy/life']"><img [src]='life'></a>

                </li>
                <li>
                    <a [routerLink]="['/policy/health']"><img [src]='health '>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/policy/vehcile']"><img [src]='vechile '>
                    </a>

                </li>
            </ul>

        </nav>



        <div class='col-md-10 '>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>