<!--The content below is only a placeholder and can be replaced.-->

<p>{{currentDate|date:'medium'}}</p>
<p>{{salary|currency:'INR':'symbol'}}</p>

<div class="container">

    <div>
        <app-header></app-header>
    </div>
    <div>
        <app-content></app-content>
    </div>
    <div>
        <app-login></app-login>
        <app-logout></app-logout>
    </div>
    <div>
        <app-request-quote></app-request-quote>
    </div>
    <div>
        <app-registration></app-registration>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>

<div #placeHolder></div>

<div>
    <button (click)='showBranch()'>Show Branches</button>
</div>


<router-outlet></router-outlet>