<!--The content below is only a placeholder and can be replaced.-->




<div class='row' style='height: 200px;'>
    <app-header></app-header>
</div>
<div class='row' style='height: 700px;'>
    <router-outlet></router-outlet>
</div>
<div class='row' style='height: 200px;'>
    <app-footer></app-footer>
</div>

<div #placeHolder></div>

<div>

</div>

<label>User Name</label>
<input type='text' [(ngModel)]='userName'>

<app-lifecycle [name]='userName'>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>

    </table>
</app-lifecycle>